<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h1>IdeaBox</h1>
    <% ideas.each do |idea| %>
      <h2><%= idea.title %></h2>
      <p><%= idea.description %></p><br />
    <% end %>
  </body>
</html>
